<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Use</title>
</head>
<body>

<form action="/users">
    <label for="name"> Name
        <input name="name" type="text" id="name" th:value="${filter.name()}">
    </label>
    <label for="login"> login
        <input name="login" type="text" id="login" th:value="${filter.login()}">
    </label>
    <div>
        <label for="page"> Page
            <input name="page" type="number" id="page" th:value="${usersDto.metadata.page}">
        </label>
        <label for="size"> Size
            <input name="size" type="number" id="size" th:value="${usersDto.metadata.size}">
        </label>
    </div>
   <button type="submit">
       find
   </button>
</form>



<table>
    <thead>
    <tr>
        <th> id</th>
        <th> login</th>
        <th> name</th>
        <th> birth date</th>
    </tr>
    </thead>
    <tbody>
    <!--    <tr th:if="${books.empty}">-->
    <!--        <td colspan="2"> No Books Available </td>-->
    <!--    </tr>-->
    <tr th:each="user : ${usersDto.content}">
        <td><span th:text="${user.id}"> id </span></td>
        <td><span th:text="${user.login}"> login </span></td>
        <td><span th:text="${user.name}"> name </span></td>
        <td><span th:text="${user.birthDate}"> birth date </span></td>
        <td>
            <form th:action="@{'/users/' + ${user.id}}">
                <button type="submit">EDIT</button>
            </form>
        </td>
        <td>
            <form th:method="post" th:action="@{'/delete/' + ${user.id}}">
                <button type="submit" >DELETE</button>
            </form>
    </tr>
    </tbody>
</table>

</body>
</html>