<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<!--<div th:insert="~{fragment :: username}"></div>-->
<div th:insert="~{fragment :: header}"></div>
<form th:method="POST" th:action="@{'/users/'+ ${user.id}}">
    <div>
        <input th:type="text" id="name"  name="name" th:value="${user.name}"/>
        <label class="form-label" for="name">Your Name</label>
    </div>

    <div>
        <label for="birthDate">Your birth date</label>
        <input type="date" name="birthDate" id="birthDate" th:value="${user.birthDate}">
    </div>

    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit"
                class="btn btn-secondary">Edit
        </button>
    </div>
</form>

</body>
</html>