<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div style="color: red" th:if="${param.error}">
    Bad Credentials
</div>

<form action="/login" method="post">
    <label for="login"> Login
        <input name="username" type="text" placeholder="your login" id="login">
    </label>
    <label for="password"> Password
        <input name="password" type="password" placeholder="your password" id="password">
    </label>
    <button type="submit"> Login</button>
</form>

</body>
</html>