<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form method="post" th:action="@{'/registration'}">
    <div>
        <label for="name">Your Name</label>
        <input th:type="text" id="name" name="name" th:value="${user.name}"/>

    </div>

    <div>
        <label for="login">Your Email</label>
        <input type="email" id="login" name="login" th:value="${user.login}"/>
    </div>
    <div>
        <label for="rawPassword">Your Password</label>
        <input type="password" id="rawPassword" name="rawPassword"/>
    </div>
    <div>
        <label for="birthDate">Your birth date</label>
        <input type="date" name="birthDate" id="birthDate" th:value="${user.birthDate}">
    </div>

<!--    <div class="form-outline mb-0">-->
<!--        <input type="password" id="pass" class="form-control form-control-lg" name="password"/>-->
<!--        <label class="form-label" for="pass">Password</label>-->
<!--    </div>-->

    <div class="d-flex justify-content-center">
        <button type="submit"
                class="btn btn-secondary">Register
        </button>
    </div>
</form>

<div th:if="${errors}">
    <p th:each="error : ${errors}" th:text="${error.defaultMessage}"> Error message</p>
</div>

</body>
</html>